.content-container,
.typed-text>div {
    font-family: Raleway
}
#mynavbar a,
#submit {
    text-decoration: none
}
.portfolio-caption,
.portfolio-item,
.section,
h2 {
    padding-bottom: 10px
}
.section,
.slider,
form {
    text-align: center
}
.section {
    width: 0;
    position: relative;
    padding-top: 40px
}
.line.animated,
.section.animated {
    width: 100%
}
.animateline {
    opacity: 0;
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    transition: all .35s linear
}
.animateblock {
    opacity: 0;
    -webkit-transition: all .55s linear;
    -moz-transition: all .55s linear;
    transition: all .55s linear
}
.animateblock.animated,
.animateline.animated {
    opacity: 1
}
#mynavbar a {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 1px #000, 2px 2px 0 rgba(0, 0, 0, .15), 0 -.5px 3px rgba(0, 0, 0, .9);
    padding: 14px 10px
}
#mynavbar a::after,
#mynavbar a::before {
    content: " | ";
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -2px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0
}
#mynavbar a:hover::after,
#mynavbar a:hover::before {
    transition: transform .3s, opacity .6s;
    opacity: 1
}
.intro-name {
    font-size: 60px
}
.intro-title {
    font-size: 50px
}
@media screen and (max-device-width: 480px) {
    .typed-text>div {
        font-size: 2.1em
    }
    #mynavbar a {
        font-size: 1em
    }
    #word-cloud {
        display: none
    }
    .about-me-sub {
        font-size: 23px!important
    }
}
.typed-text {
    position: absolute;
    z-index: 9;
    height: 100;
    top: 35%;
    width: 99%
}
.intro .container {
    position: relative;
    top: 320px
}
.slider,
.tv-pic {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.slider {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../images/computer.jpg);
    opacity: 0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 1), 0 -.5px 3px rgba(0, 0, 0, .9)
}
#nav {
    background-color: rgba(255, 255, 255, .5)
}
.content-container {
    color: #000;
    height: 100%;
    position: absolute;
    top: 100%;
    width: 100%
}
.line {
    background-color: #000;
    width: 0;
    height: 10px
}
form {
    margin: auto;
    max-width: 600px;
    padding: 10px 60px 20px
}
input,
textarea {
    padding: 8px;
    font: 1em Sans-Serif;
    width: 98%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 2px;
    margin-left: 10px
}
.field {
    width: 50%
}
#email,
#message,
#name {
    box-sizing: border-box;
    -moz-box-sizing: border-bbox;
    -webkit-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    -moz-border: 1px solid #C2C2C2;
    -webkit-border: 1px solid #C2C2C2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px;
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, .4), 0 10px 3px rgba(0, 0, 0, .1), inset 0 0 6px 3px rgba(0, 0, 0, .1), 0 -.5px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 9px 12px 1px rgba(0, 0, 0, .4), 0 10px 3px rgba(0, 0, 0, .1), inset 0 0 6px 3px rgba(0, 0, 0, .1), 0 -.5px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 9px 12px 1px rgba(0, 0, 0, .4), 0 10px 3px rgba(0, 0, 0, .1), inset 0 0 6px 3px rgba(0, 0, 0, .1), 0 -.5px 3px rgba(0, 0, 0, .1)
}
#email:focus,
#message:focus,
#name:focus {
    border: 1px solid #00f
}
textarea {
    height: 5em;
    resize: vertical;
    width: 99%
}
.submit-button {
    padding-left: 0;
    padding-top: 21px
}
#submit {
    border-top: 1px solid #96d1f8;
    background: #2677ad;
    background: -webkit-gradient(linear, left top, left bottom, from(#45a7e8), to(#2677ad));
    background: -webkit-linear-gradient(top, #45a7e8, #2677ad);
    background: -moz-linear-gradient(top, #45a7e8, #2677ad);
    background: -ms-linear-gradient(top, #45a7e8, #2677ad);
    background: -o-linear-gradient(top, #45a7e8, #2677ad);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-shadow: rgba(0, 0, 0, .9) 0 1px 0;
    color: #fff;
    vertical-align: middle;
    box-shadow: 0 5px 12px 1px rgba(0, 0, 0, .4), 0 6px 3px rgba(0, 0, 0, .1), inset 0 0 6px 3px rgba(0, 0, 0, .2), 0 -.5px 3px rgba(0, 0, 0, .9)
}
#submit:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #fcfcfc
}
#submit:active {
    border-top-color: #1b435e;
    background: #1b435e
}
#message {
    height: 100px;
    word-break: break-word
}
.img-responsive {
    height: 200px!important;
    width: 100%!important
}
.portfolio-caption {
    padding-top: 10px;
    background-color: #E8E8E8;
    color: #000
}
.portfolio-caption>div {
    display: inline-block
}
#about,
#summary {
    padding-bottom: 20px
}
.item-top {
    position: relative;
    width: 100%
}
.hide {
    display: none
}
#projects {
    background-color: #2f2c3e;
    color: #fff
}
#about,
#contact {
    background: url(../images/grey.png) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
#about .container {
    margin: auto!important
}
#about {
    display: flex;
    flex-direction: column;
    min-height: 100%
}
#summary {
    padding-top: 20px
}
@media screen and (min-width: 480px) {
    .section h2::after,
    .section h2::before {
        position: absolute;
        width: 80px;
        content: "";
        border-top: 2px solid;
        border-bottom: 2px solid;
        height: 8px;
        top: 73px
    }
    .section h2::before {
        margin-left: -90px
    }
    .section h2::after {
        margin-left: 10px
    }
}
.bottom-button-container {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 100%;
    z-index: 10;
    height: 70px;
    width: 70px;
    text-align: center;
    border: 2px solid;
    opacity: .8;
    -webkit-box-shadow: 0 9px 32px 1px rgba(0, 0, 0, .8), 0 10px 3px rgba(0, 0, 0, .8), inset 0 0 20px 3px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 9px 32px 1px rgba(0, 0, 0, .8), 0 10px 3px rgba(0, 0, 0, .8), inset 0 0 20px 3px rgba(0, 0, 0, .7);
    box-shadow: 0 9px 32px 1px rgba(0, 0, 0, .8), 0 10px 3px rgba(0, 0, 0, .8), inset 0 0 20px 3px rgba(0, 0, 0, .7), 0 -.5px 3px rgba(0, 0, 0, .9);
    color: #fff
}
.bottom-button-container i {
    text-shadow: 0 4px 3px #000, 0 -.5px 3px #000;
    color: #fff
}
#scrollSection {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 10;
    height: 100
}
.icon {
    display: inline;
    padding: 10px
}
.iconsi {
    position: absolute;
    bottom: 0;
    left: 45%;
    max-width: 300px!important;
    padding-bottom: 30px
}
.icons i {
    font-size: 40px
}
#github {
    color: #000
}
#linkedin {
    color: #007bb6
}
#twitter {
    color: #50E8E2
}
.fa-twiiitter:before {
    content: "\f099"
}
.fa-linkediiin-square:before {
    content: "\f08c"
}
.fa-giiithub:before {
    content: "\f09b"
}
.inline {
    display: inline-block
}
#word-cloud {
    height: 550px;
    padding-top: 40px
}
.about-me-sub {
    font-size: 2.7em
}